### Package

The goal of the Package group is to build a set of features that, within three years, will allow ninety percent of our customers to store all of their packages in GitLab. In order to accomplish this goal, we must:

1. Unify the Container Registry and the Package Registry to create a seamless user experience for building, testing and releasing code.
1. Drive adoption by enabling [innersourcing](https://medium.com/@baspeters/take-ownership-of-your-work-adopt-innersource-55e57c0dc8f5) workflows on behalf of our customers.
1. Improve the performance and reliability of builds by reducing reliance on external dependencies.

Our immediate focus is on [improving the usability of our existing registries](https://gitlab.com/groups/gitlab-org/-/epics/1241) and [standardizing authentication and permissions](https://gitlab.com/groups/gitlab-org/-/epics/1243) for each package manager. This will help us by providing a consistent and delightful user experience across integrations, which will enable us to quickly add support for the most common [package manager formats](https://gitlab.com/groups/gitlab-org/-/epics/1245). It's important to note that since we will prioritize only the most commonly used package managers, we will rely on the GitLab Community to add support for the less common formats. In order to help drive communinity contributions, we will provide clear [documentation and guidance](https://gitlab.com/gitlab-org/gitlab/issues/32726) for how  add new package manager formats to GitLab.  

In order to provide a seamless experience for building, testing and releasing code, we must [create visibility and transparency](https://gitlab.com/groups/gitlab-org/-/epics/1244) into the Package and Container Registry. We know that the [primary reasons users navigate to their registries](https://gitlab.com/gitlab-org/uxr_insights/issues/617) are to figure out which image or package to use, confirm that an image or package was built or to troubleshoot a build that failed. Armed with that knowledge, we will ensure that the Registry provides meta data and evidence for how images/packages are built, by whom and when. 

By accomplishing the above, we will help our customers to drive innersourcing. In other words, we will ensure that organizations are able to collaborate across teams and contribute shared packages and images. This will reduce risk by ensuring problems are found and fixed before the wrong person discovers them, reduce cost and inefficiencies by ensuring developers do not have to start from scratch, and improve conversational development by ensuring [everyone can contribute](https://about.gitlab.com/company/strategy/#mission). 

Finally, we will work to [improve the performance and reliability of builds](https://gitlab.com/groups/gitlab-org/-/epics/1850) by rolling out the [dependency proxy](https://docs.gitlab.com/ee/user/group/dependency_proxy/) to each package manager. Increased adoption of the dependency proxy will allow us to build new features that will help our customers to [reduce open source risk by providing visibility and transparency into external dependencies](https://gitlab.com/groups/gitlab-org/-/epics/1248). 


- See a high level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Apackage)
- Stage usage can be tracked at the Package [SMAU (Stage Monthly Active Users) Dashboard](https://app.periscopedata.com/app/gitlab/491720/Package-Dashboard)

The Package stage is made up of several categories:

<%= partial("direction/categories-content", :locals => { :stageKey => "package" }) %>